.card{
  margin: auto;
  width: 350px;
}

.btn-primary {
  margin:0 5px;
}
.body {
  display: flex;
  background: linear-gradient( rgba(200,176,0,0.2), rgba(200,176,0,0.2));
  background-repeat: no-repeat;
  background-size: inherit;
  height: 100vh;
}

.form-head {
  font-family: "Times New Roman", Times, sans-serif;
  color: black;
  padding: 20px ;
  background: #ffffff;
  margin-bottom: 3%;
  border-radius: 00%;
}
#error {
  padding: 0 1.5%;
  margin-bottom: 12px;
  background: rgba(255, 0, 0, 0.1);
  color: #900;
  border: 0.5px solid #000;
}


