.card{
  margin: auto;
}

.btn-primary {
  margin:0 5px;
}
.body {
  display: flex;
  background: linear-gradient( #FF8252, #FF8180);
  background-repeat: no-repeat;
  background-size: inherit;
  height: 100vh;
}

.form-head {
  font-family: "Times New Roman", Times, sans-serif;
  color: black;
  padding: 20px ;
  background: #ffffff;
  margin-bottom: 3%;
  border-radius: 00%;
}


