.card {
  margin: auto;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.btn-primary {
  margin: 0 5px;
}
.body {
  display: flex;
  height: 100vh;
}

.form-head {
  font-family: "Times New Roman", Times, sans-serif;
  color: black;
  padding: 20px;
  background: #ffffff;
  margin-bottom: 3%;
  border-radius: 00%;
}
#error {
  padding: 0 1.5%;
  margin-bottom: 12px;
  background: rgba(255, 0, 0, 0.1);
  color: #900;
  border: 0.5px solid #000;
}

.form-group {
  text-align: left;
}

.form-group label {
  margin-bottom: 5px;
}

.login-buttons button {
  margin-bottom: 5px;
}

.login-buttons:last-child {
  margin-bottom: 0;
}

.invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}

.valid {
  border: 1px solid #ccc;
}