.card{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	
	margin : 10px auto;
}

.navbar{
	background:#1ebba3;
	opacity: 0.8;
	padding: 15px 15px;
	transition: all 2s ease;
	
	
  }
  .navbar-background{
	padding: 5px 6px;
  }
  .navbar-brand{
	font-size: 40px;
	transition: all 2s ease;
	  color: white;
  
  }
  .navbar-brand:hover{
	color: #242424;
  }
  .nav-link{
	color: #242424;
	text-decoration: none;
	transition: all 2s ease;
	font-size: 23px;
  }
  .nav-link:hover{
	color: #9dc8f8;
  }
  .btn-outline-light{
	 background-color: #4492eb; 
	 margin : 5px;
	 height : 40px;

  }
  .btn-dark{
	  height : 40px;
	  margin : 5px;
  }

  .card-header{
	  background-color:#1ebba3;
  }

  img{
	  border-radius: 50%;
	  border: black;
  }

  .btn-sm{
	  border-radius: 10px;
	  width : 100px;
  }
  /* @media all and (min-width: 900px) {
	.contain {
		width: 80%;
		margin: 0 10%;
	 
  }
  
  @media all and (min-width: 1920px) {
	  .contain {
		width: 60%;
		margin: 0 20%;
	}
	}
	
  @media all and (min-width: 3000px) {
	  .contain {
		width: 40%;
		margin: 0 30%;
	}
	}
  } */
  .btn1 {
	  background-color: #1ebba3;
	  
	  color : white;
  }
  .btn1 :hover{
	background-color: #1ebba3;
  }

  .modal-header{
	background-color: #1ebba3;
	  font-size: 40px;
	  padding : 7px;
	 
  }
  .modal-title{
	margin: 0 30%;
	
  }

  footer {
	position:fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width:100%;
	overflow: auto;
	z-index: 999;
	padding: 5px 0;
	display: inline-flex;
	margin : 0 auto;
	/* background-color: rgba(0, 0, 0, 0.6); */
}