header {
	position: relative;
	color: white;
	right: 0;
	top: 0;
	left: 0;
	width: 100%;
	background: #1F262E;
	z-index: 999;
	overflow: hidden;
	height: 40px;
}

header h2{
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.4em;
	margin: 0;
	line-height: 40px;
}

header button, footer button {
	position: absolute;
	top: 0;
	color: white;
	background: linear-gradient( #700, #600);
	height: 100%;
	padding: 0 10px;
}
header img{
	position: absolute;
	top: 0;
	padding: 0 10px;
	line-height: 40px;
	right: 100px;
	border-radius: 50%;
}
header button {
	line-height: 40px;
}

header button span {
	line-height:100%;
}

header .logout {
	right: 0;
}

header .add {
	left: 0;
}

footer .delete {
	right: 0;
}

header .add:hover, header .logout:hover, footer .delete:hover {
	background: linear-gradient( #900, #700);
}

header, footer {
	background-color: #1F262E;
}


.search-input {
	display: inline;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width:100%;
	overflow: auto;
	z-index: 999;
	padding: 5px 0;
}

.bodyapp{
	overflow: scroll;
	height: 100vh;
}

.contain {
	width: 70%;
	margin: 0 auto;
}

@media all and (min-width: 900px) {
  .contain {
	width: 40%;
	margin: 0 30%;
}
}

@media all and (min-width: 1920px) {
	.contain {
	  width: 25%;
	  margin: 0 37.5%;
  }
  }
  
@media all and (min-width: 3000px) {
	.contain {
	  width: 16%;
	  margin: 0 42%;
  }
}

.NotesArray {
	padding: 10px 0;
	margin: 20px 0;
}

span {
	font-size: 20px;
}

.notesContainer {
	margin: 8px;
	border: 1px solid lightgrey;
}