.box{
    background-color: chocolate;    
    padding: 2.2em;
    max-height:100%;
    max-width:100%;
    font-size: 2.2rem;
    line-height: 3.4;  
    position:relative;
    height: 2890px;
    width: 1890px;
    max-height: 900px;
}