.buttonbar {
	text-align: right;
	background-color: #1F262E;
	border-radius: 5px 5px 0 0;
}

.buttonbar button {
	display:inline-block;
	height:25px;
	width:25px;
	text-align: center;
	line-height: 25px;
	background-color: #c4c4c4;
}

.buttonbar button:hover {
	background-color: #919191;
}

.cdli {
	text-align: justify;
	margin: 0;
}
.cdli > p {
	width: 100%;
	background: rgb(255,255,255);
	text-align: justify;
	color: black;
	border: 0.1px solid #aaa;
	padding: 1.5% 3% 0% 2%;
	margin: 0;
	font-size: 12.5px;
	overflow: hidden;
	display: block;
}
input[type=checkbox] {
	transform: scale(1.7);
	float: left;
	margin: 2.3% 4% 3% 3%;
	border: 0.1px solid #aaa;
  }
.empty{
	padding: 5% 0;
	margin-top: 4%;
	font-size: 200%;
}
.notes {
	margin-top:1%;
	color: white;
	background-color: #FFF;
}
.cdt {
	font-size: 125%;
	margin-bottom: 20px;
}
.cdb {
	color: #1F262E;
}

.cdte {
	background: rgb(255,255,255);
	text-align: justify;
	color: black;
	padding: 3% 3%;
	margin: 0;
	border: 2px solid #1F262E;
	font-size: 12.5px;
}
.hr {
	margin: 0;
	padding: 0;
	border: 0;
}